body{
  background: linear-gradient(#EDEFFE, #EDFEEE, #EDEFFE);
}

.jumbotron{
  background: linear-gradient(#EDEFFE, #EDFEEE)
}

.nobullet{
  list-style-type: none;
}

.roman{
  list-style-type: upper-roman;
  list-style-position: inside;
}

.profile{
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid green;
}

.panel-success h6{
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

.poem{
  float: right;
  width: 33%;
  padding-left: 5px;
  padding-right: 5px;
  color: grey;
  font-style: oblique;
}

@media screen and (min-width: 768px) {
  .profile{
    width: 100%;
    margin-left: 15px;
  }
  .rightbar .panel{
    padding-bottom: 40px;
  }
  .sidebar .panel{
    margin-left: -15px;
    margin-right: 0px;
    padding-bottom: 530px;
  }
  .sidebar .panel-body{
    padding-left: 15px;
  }
}

@media screen and (min-width: 992px) {
  .profile{
    width: 103%;
    margin-left: 5px;
  }
  .rightbar .panel-body{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sidebar .panel{
    margin-left: -15px;
    margin-right: -10px;
    padding-bottom: 430px;
  }
  .sidebar .panel-body{
    padding-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .profile{
    width: 100%;
    margin-left: 10px;
  }
  .rightbar .panel{
    padding-bottom: 40px;
  }
  .sidebar .panel{
    margin-left: -15px;
    margin-right: 0px;
    padding-bottom: 580px;
  }
  .sidebar .panel-body{
    padding-left: 15px;
  }
}

@keyframes awesome{
  0% {
    color: black;
  }
  50%{
    color: gold;
  }
  100%{
    color: black;
  }
}

.flashy{
  animation: awesome 2s infinite;
}

@keyframes fadein{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  animation: fadein 5s;
}
